.btn {
font-size: 30px;
margin: 0.3em;
min-width: 5em;
--bs-btn-focus-shadow-rgb: none;
/* background-color: white; */
}

.btn1 {
font-size: 10px;
margin-left: 70%;
text-align: center;
}

#input1 {
text-align: right;
padding: 15px;
font-size: 30px;
margin: 4px 4px;
width: 21em;
}

.text {
    font-family: 'Oswald', sans-serif;;
    font-size: 20px;
}

.header {
    font-family: 'Oswald', sans-serif;;
    font-size: 50px;
}

.txtStory {
    resize: none;
    width: 50.4%;
    text-align: right;
}